@model WebApplication2.Models.UserModel.EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<h1>EditUser</h1>

<div class="card mb-3">
    <form id="form1" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="card-header">
            <input id="UserId" asp-for="Id" disabled placeholder="UserId" />
            <input id="UserName" asp-for="UserName" placeholder="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input id="UserProfession" asp-for="UserProfession" placeholder="UserProfession" />

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="GetUserList" class="btn btn-primary">Cancel</a>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <h5>@role</h5>
                    }

                }
                else
                {
                    <h5>None at the moment</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="" asp-controller="Admin" asp-route-UserId="@Model.Id" class="btn btn-primary">Manage Roles</a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                @if (Model.Claims.Any())
                {
                    foreach (var claims in Model.Claims)
                    {
                        <h5>@claims</h5>
                    }

                }
                else
                {
                    <h5>None at the moment</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="" asp-controller="Admin" asp-route-UserId="@Model.Id" class="btn btn-primary">Manage Claims</a>
            </div>
        </div>
    </form>

</div>





