@model StudentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form id="form1" method="post" asp-controller="Student" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div>
        <input id="Name" asp-for="Name" placeholder="Name" />
    </div>
    <div>
        <input id="Course" asp-for="Course" placeholder="Course" />
    </div>
    <div>
        <input id="Subject" asp-for="Subject" placeholder="Subject" />
    </div>
    <div>
        <div class="col-sm-10">
            <div class="custom-file">
                <input type="file" asp-for="Photo" class="custom-file-input" placeholder="Photo" />
                <label class="custom-file-label">Click here change Photo</label>
            </div>
        </div>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>

    @section Scripts{ 
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on('change', function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });

            });
        </script>

    }
</form>

