@model int
@{
    ViewData["Title"] = "NotFoundId";
}

<h1>NotFoundId</h1>

<h1>Search Id = @Model has not found</h1>

<a asp-action="Index" asp-controller="Student">Click here to back to the Student List</a>

